.container-grid__div {
    display: grid;
    grid-template-columns: 25% 75%;

    width: 60%;
    margin: auto;
}

.container-absolute__div {
    position: absolute;
    width: 100%;

    top: 40px;
}

/* Mobile styles */

@media screen and (max-width: 720px) {
    .container-grid__div {
        display: block;

        width: 90%;
    }

    .container-absolute__div{
        top: 70px;
    }
}