.container-grid__div {
    display: grid;
    grid-template-columns: 25% 75%;

    width: 60%;
    margin: auto;
}

.container-absolute__div {
    position: absolute;
    width: 100%;

    top: 40px;
}