.container-grid__div {
    display: grid;
    grid-template-columns: 25% 75%;

    width: 70%;
    margin: auto;
}

.container-menu-sections__div {
    height: 50px;
    border-bottom: 1px solid #fff;
}

.menu-flex__div {
    height: 45px;
    display: flex;
    align-items: end;
    width: 67%;
    margin: 0 0 0 auto;
}

.container-absolute__div {
    position: absolute;
    top: 40px;
    width: 100%;
}