.container-homepage__main {
    background-image: url('/hero-bg.webp');
    background-position: -75% 0;

    height: 100vh;
}

.container-welcome__section {
    width: 40%;
    height: 60vh;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.github-welcome__p {
    font-size: 80px;
    font-weight: 800;

    margin-top: 100px;
    padding-top: 50px;
}

.valentino-copyrigth__p {
    color: #7d8590;
    font-size: 30px;
}

.container-button__div {
    width: 100%;
    height: 50px;

    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button__div {
    transition: margin-left .5s;
}

.button-github__div {
    width: 300px;
    height: 40px;

    background: linear-gradient(90deg, rgba(1, 1, 1, 0.6) 0%, rgba(1, 1, 1, 0.461139) 59.76%, rgba(1, 1, 1, 0) 100%);
    border: 1px #414a59 solid;
    border-radius: 100px;
    box-shadow: #bc8cff 0 0 0 1px inset;

    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button__div:hover .button-icon__span{
    padding-left: 7px;
}