.container-repository-card__div {
    display: grid;
    grid-template-columns: 80% 20%;

    padding: 30px 0;

    border-bottom: 1px solid #7a828e;
}

.container-repository-data__div {
    margin-top: 10px;

    font-size: 12px;
}

.container-repository-bio__div{
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding-bottom: 10px;
}

.repository-name__span > a {
    color: #71b7ff;
}

.repository-name__span > a:hover{
    text-decoration: underline #71b7ff;
}

.repository-description__span{
    font-size: 10px;
}

.language-repository__span {
    margin-right: 10px;
}

.language-color__div {
    display: inline-block;

    width: 10px;
    height: 10px;

    margin-right: 5px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.star-button__span {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 15px;
    padding: 5px;

    border-radius: 5px;

    background-color: #272b33;
    fill: #fff;
    border: 1px solid #7a828e;

    font-size: 14px;
}

.star-button__span>svg {
    margin-right: 5px;
}

/* Mobile */
@media screen and (max-width: 720px) {
    .container-repository-card__div{
        grid-template-columns: 75% 25%;
    }
}