.container-menu-sections__div {
    height: 60px;
    border-bottom: 1px solid #fff;
}

.menu-flex__div {
    height: 55px;
    display: flex;
    align-items: end;
    width: 65%;
    margin: 0 0 0 auto;

    fill: #fff;
}

.item-menu__span{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;

    position: relative;
}

.item-menu__span > svg{
    margin-right: 5px;
}

.select-item::after{
    background: #ff967d;
    bottom: calc(50% - 14px);
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
}